*{
  box-sizing: border-box ;  

}

#gridContainer>* {
  border: 1px solid black;
  margin:1px;
  padding:5px;
  
}
#body {
  background-color: lightblue;
}

@media only screen and (min-width: 600px){
#gridContainer {
  display: grid;
  grid-template-columns: 150px auto  ;
  grid-template-rows:300px 300px ;
  
   grid-template-areas: "menu howMuchICharge  "
                        "menu contact ";
                        
}
#gridContainer>nav#menu{
  text-align:center;
  grid-area: menu;
  background-color: red;
}
#gridContainer>section#howMuchICharge {
  grid-area: howMuchICharge;
 
}

#gridContainer>section#contact {
  grid-area: contact;
  }
}
 