*{
  box-sizing: border-box ;  
 font-family:Times, serif;
}

#gridContainer1>* {
  border: 1px solid none;
  margin:5px;
  padding:12px;
}

#gridContainer2>* {
  border: 1px solid none;
  margin:5px;
  padding:12px;
}

#gridContainer3>* {
  border: 1px solid none;
  margin:5px;
  padding:12px;
}

#gridContainer2>section>img{
   padding: 5px;
   margin: 5px;
   height: 287px;
   width: 310px;
}
#gridContainer1>section#content>img{
  width: 310px;
  height: 287px;
  padding: 5px;
  margin: 5px;
}
      
body {
  background-color: #dce5f2;
}
      
nav>img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li>a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li>a:hover {
  background-color: #dce5f2;
}

.active {
  background-color: white;      
}

nav#menu{
  background-color:white;
  text-align: center;
  color: black;
}

@media only screen and (min-width: 600px){
#gridContainer1 {
  display: grid;
  grid-template-columns: 1fr 5fr  ;
  grid-template-rows:150px 500px ;
  
  
   grid-template-areas: "menu header  "
                        "menu content ";
                        }
}




#gridContainer1>nav#menu{
  text-align:center;
  grid-area: menu;
  background-color: white;
}
  
#gridContainer1>section#header {
  grid-area: header;   
}

#gridContainer1>section#content {
  text-align: center;
  grid-area: content;
}
  

@media only screen and (min-width: 600px){
#gridContainer2 {
  display: grid;
  grid-template-columns: 1fr 5fr  ;
  grid-template-rows:170px 500px ;
  
  
   grid-template-areas: "menu aboutMe   "
                        "menu technicalSkills  ";
}
  
  section>img{
    width: 270px;
    height: 241px;
    padding-bottom: 24px;
    margin: 60px;
  }
}
section>img{
    width: 270px;
    height: 241px;
    padding-bottom: 24px;
    margin: 20px;
}

#gridContainer2>nav#menu{
  text-align:center;
  grid-area: menu;
  background-color: white;
}
  
#gridContainer2>section#aboutMe {
  grid-area: aboutMe;   
}

#gridContainer2>section#picture {
  text-align: center;
  grid-area: picture;
}
#gridContainer2>section#technicalSkills {
  text-align: center;
  grid-area: technicalSkills;
}

@media only screen and (min-width: 600px){
#gridContainer3 {
  display: grid;
  grid-template-columns: 1fr 5fr  ;
  grid-template-rows:150px 500px ;
  
  
   grid-template-areas: "menu howMuchICharge  "
                        "menu contact ";
  }
}

#gridContainer3>nav#menu{
  text-align:center;
  grid-area: menu;
  background-color: white;
}
  
#gridContainer3>section#howMuchICharge {
  grid-area: howMuchICharge;   
}

#gridContainer>section#contact {
  text-align: center;
  grid-area: contact;
}

  